* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
*::selection{
    background-color: var(--theme-primory-color);
    color: var(--theme-white);
}

input,
button {
    font-family: "Acme", sans-serif;
    letter-spacing: .5px;
}

button {
    cursor: pointer;
}

// [aria-hidden="true"] * {
//     pointer-events: none;
//   }
  
//   [aria-hidden="true"] button,
//   [aria-hidden="true"] a,
//   [aria-hidden="true"] input {
//     pointer-events: none;
//   }


.slick-slide[aria-hidden="true"] button,
.slick-slide[aria-hidden="true"] a {
  pointer-events: none;
  tab-index: -1;
}

  