.kursorChild {
    width: 4px !important;
    height: 4px !important;
    background: linear-gradient(36deg,rgba(240, 199, 141, 1) 18%, rgba(89, 153, 89, 1) 54%) !important;
    border-radius: 50% !important;
}

.kursor--1 {
    width: 35px !important;
    height: 35px !important;
    border: 3px solid #599959 !important;
    background: transparent !important;
}